---
name: CI
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
  - cron: 0 0 * * 0
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
        - '2.7'
        - '3.0'
        - '3.1'
        - '3.2'
        - '3.3'
        rails-version:
        - '6.0'
        - '6.1'
        - '7.0'
        - '7.1'
        include:
        # Rails 7.0 and 7.1 support Ruby >= 2.7.0
        - ruby-version: '2.5'
          rails-version: '6.0'
        - ruby-version: '2.5'
          rails-version: '6.1'
        - ruby-version: '2.6'
          rails-version: '6.0'
        - ruby-version: '2.6'
          rails-version: '6.1'
        # Rails 7.2 supports Ruby >= 3.1.0
        - ruby-version: '3.1'
          rails-version: '7.2'
        - ruby-version: '3.2'
          rails-version: '7.2'
        - ruby-version: '3.3'
          rails-version: '7.2'
    env:
      TEST_RAILS_VERSION: "${{ matrix.rails-version }}"
      CC_TEST_REPORTER_ID: "${{ secrets.CC_TEST_REPORTER_ID }}"
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby-version }}"
        bundler-cache: true
      timeout-minutes: 30
    - name: Run tests
      run: bundle exec rake
    - name: Report code coverage
      if: ${{ github.ref == 'refs/heads/master' && matrix.ruby-version == '3.1' }}
      continue-on-error: true
      uses: paambaati/codeclimate-action@v9
